body {
    
}

img {
    width: 300px;
}

header {
    background-color: #87F6FF;
}

.Work {
    background-color: #DAF5FF;
}

.Edu {
    background-color: #44FFD2;
}

footer {
    background-color: #FFBFA0;
}

a {
    color: blue;
    background-color: cornsilk;
    padding: 8px;
    border-radius: 4px;
}

a:hover {
    text-decoration: none;
}