html {
    box-sizing: border-box;
}
*, *::before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    width: 300px;
}

header {
    background-color: #CEE5F2;
}

.Work {
    background-color: #ACCBE1;
}

.Edu {
    background-color: #7C98B3;
}

footer {
    background-color: #637081;
}

a {
    color: blue;
    background-color: #CEE5F2;
    padding: 8px;
    border-radius: 4px;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 100px;
    line-height: 1;
    text-shadow: 6px 6px 8px gray;
    text-align: center;
}

h2 {
    background-color: white;
    display: inline;
    font-size: 45px;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
}

.content-wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 60px 0;
}